.f-input-wrapper{
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  > :not(:last-child){
    margin-right: .3em;
  }
  .cloak{
    position: absolute;
    height: $input-height;
    z-index: 2;
    opacity: 0;
  }
  > input{
    color: $blue-7;
    height: $input-height;
    border:1px solid $border-color;
    border-radius: 5px;
    padding: 0 8px;
    font-size: inherit;
    transition: .23s all ease;
    &::-webkit-input-placeholder,&::-moz-placeholder,&:-ms-input-placeholder  {
      color: $border-color;
      font-size: 16px;
    }

    &:hover{
      border-color: $border-color;
    }
    &:focus{
      box-shadow:$shadow-focus-2;
      outline: none;
    }
    &[disabled]{
      border-color: #ccc;
      color:#ccc;
      cursor: not-allowed;
      pointer-events: none;
    }
    &.error{
      border-color: $red;

    }

  }
  &[disabled]{
    cursor: not-allowed;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
  .errorMessage{
    color: $red;
  }
}
