.f-message{
  display: inline-block;
  transition: all $animation-duration;
  border: 1px solid $border-color;
  position: fixed;
  min-width: 200px;
  z-index: 9999;
  font-size: 14px;
  line-height: 1.3;
  min-height: $input-height;
  box-shadow: $shadow-down;
  border-radius: 3px;
  background: $bg-color-1;
  padding: 10px 13px;
  color: $text;
  text-align: center;
  &-text{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  &-close{
    margin-left: 15px;
    margin-right: 10px;
    font-size: 20px;
    &-icon{
      display: flex;
    }
  }
  &.position-top{
    top:0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    animation: slideDown  $animation-duration;

  }
  &.position-bottom{
    top:100%;
    transform: translateY(-100%) translateX(-50%);
    left: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    animation: slideUp  $animation-duration;
  }
  &.position-center{
    top:50%;
    transform: translateY(-50%)translateX(-50%);
    left: 50%;
    animation: fade-in $animation-duration;
  }
  &.type-success{
    border: #e1f3d8;
    box-shadow: 0 0 3px $success-1;
  }
  &.type-error{
    background-color: #fef0f0;
    border: #fef0f0;
    color:#f56c6c;
    box-shadow: 0 0 3px $error-1;
  }
  &.type-warn{
    border: #faecd8;
    box-shadow: 0 0 3px $warn-1;
  }
  &-icon{
    vertical-align: middle;
    margin-right: 8px;
  }
}