.popover {
  display: inline-block;
  vertical-align: top;
  transition: .3s all ease-in-out;
  position: relative;
}
.contentSlot{
  transition: .3s all ease-in-out;
  max-width: 15em;
  max-height: 15em;
  overflow: scroll;
  overflow-x:auto;
  overflow-y: auto;
}
.content-wrapper {
  position: absolute;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  background: white;
  transition: .3s all ease-in-out;
  padding: .5em 1em;
  z-index: 1000;
  word-break: break-all;
  &::before, &::after {
    content: '';
    display: block;
    border: 10px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
  }
  &.position-topLeft{
    transform: translateY(-100%);
    margin-top: -10px;
    &::before, &::after {
      left: 5px;
    }
    &::before {
      border-top-color: #f3f3f3;
      border-bottom: none;
      top: 100%;
    }
    &::after {
      border-top-color: white;
      border-bottom: none;
      top: calc(100% - 1px);
    }
  }
  &.position-top{
    transform: translateY(-100%);
    margin-top: -10px;
    &::before, &::after {
      left: 50%;
      transform: translateX(-54%);
    }
    &::before {
      border-top-color: #f3f3f3;
      border-bottom: none;
      top: 100%;
    }
    &::after {
      border-top-color: white;
      border-bottom: none;
      top: calc(100% - 1px);
    }
  }
  &.position-topRight{
    transform: translateY(-100%);
    margin-top: -10px;
    &::before, &::after {
      left: 100%;
      transform: translateX(-120%);
    }
    &::before {
      border-top-color: #f3f3f3;
      border-bottom: none;
      top: 100%;
    }
    &::after {
      border-top-color: white;
      border-bottom: none;
      top: calc(100% - 1px);
    }
  }
  &.position-leftTop{
    transform: translateX(-100%);
    margin-left: -10px;
    &::before, &::after {
      transform: translateY(0%);
      top: 2px;
    }
    &::before {
      border-left-color: #f3f3f3;
      border-right: none;
      left: 100%;
    }
    &::after {
      border-left-color: white;
      border-right: none;
      left: calc(100% - 1px);
    }
  }
  &.position-left {
    transform: translateX(-100%);
    margin-left: -10px;
    &::before, &::after {
      transform: translateY(-53%);
      top: 50%;
    }
    &::before {
      border-left-color: #f3f3f3;
      border-right: none;
      left: 100%;
    }
    &::after {
      border-left-color: white;
      border-right: none;
      left: calc(100% - 1px);
    }
  }
  &.position-leftBottom {
    transform: translateX(-100%);
    margin-left: -10px;
    &::before, &::after {
      transform: translateY(-100%);
      top: 99%;
    }
    &::before {
      border-left-color: #f3f3f3;
      border-right: none;
      left: 100%;
    }
    &::after {
      border-left-color: white;
      border-right: none;
      left: calc(100% - 1px);
    }
  }
  &.position-bottomLeft {
    margin-top: 10px;
    &::before, &::after {
      left: 6px;
    }
    &::before {
      border-top: none;
      border-bottom-color: #f3f3f3;
      bottom: 100%;
    }
    &::after {
      border-top: none;
      border-bottom-color: white;
      bottom: calc(100% - 1px);
    }
  }
  &.position-bottom {
    margin-top: 10px;
    &::before, &::after {
      left: 50%;
      transform: translateX(-50%);
    }
    &::before {
      border-top: none;
      border-bottom-color: #f3f3f3;
      bottom: 100%;
    }
    &::after {
      border-top: none;
      border-bottom-color: white;
      bottom: calc(100% - 1px);
    }
  }
  &.position-bottomRight {
    margin-top: 10px;
    &::before, &::after {
      left: 100%;
      transform: translateX(-103%);
    }
    &::before {
      border-top: none;
      border-bottom-color: #f3f3f3;
      bottom: 100%;
    }
    &::after {
      border-top: none;
      border-bottom-color: white;
      bottom: calc(100% - 1px);
    }
  }
  &.position-rightTop {
    margin-left: 10px;
    &::before, &::after {
      transform: translateY(10%);
      top: 0;
    }
    &::before {
      border-right-color: #f3f3f3;
      border-left: none;
      right: 100%;
    }
    &::after {
      border-right-color: white;
      border-left: none;
      right: calc(100% - 1px);
    }
  }
  &.position-right {
    margin-left: 10px;
    &::before, &::after {
      transform: translateY(-50%);
      top: 50%;
    }
    &::before {
      border-right-color: #f3f3f3;
      border-left: none;
      right: 100%;
    }
    &::after {
      border-right-color: white;
      border-left: none;
      right: calc(100% - 1px);
    }
  }
  &.position-rightBottom {
    margin-left: 10px;
    &::before, &::after {
      transform: translateY(-103%);
      top: 100%;
    }
    &::before {
      border-right-color: #f3f3f3;
      border-left: none;
      right: 100%;
    }
    &::after {
      border-right-color: white;
      border-left: none;
      right: calc(100% - 1px);
    }
  }

}
