.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0 ;
}
.f-table-wrapper{
  -webkit-font-smoothing: antialiased;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #efefef;
  border-right: none;
  border-bottom: none;
  display: block;
  &::before{
    content: "";
    position: absolute;
    background-color: #efefef;
    top:0;
    width: 1px;
    height: 100%;
    right: 0;
    z-index: 1;
  }
  &.borderHidden{
    border-bottom: none;
  }
}
.f-table{
  transition: .3s all ease;
  -webkit-font-smoothing: antialiased;
  color:#515a6e;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: inherit;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  font-size: 14px;
  box-sizing: border-box;
  &.bordered{
    th{
      border-right: 1px solid #efefef;
    }
    td{
      border-right: 1px solid #efefef;
    }
  }
  &-cell{
    padding-left: 12px;
    padding-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;
  }
  &.stripe{
    tbody {
      >tr{
        &:nth-child(even){
          background-color: #f9f9f9;
        }
      }
    }
  }
  td,th{
    color:lighten(#515a6e,13.5%);
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .td-div{
      padding: 0 7px;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-break: break-all;
      word-wrap: normal;
      vertical-align: middle;
    }
  }

  th{
    border-right: 0;
  }
  tbody{
    tr{
      transition: .3s background-color  ease-in-out;
      &:hover{
        background-color: #f9f9f9;
      }
    }
  }
  .onHover{
    background-color: #f9f9f9;
  }
  &-th{
    display: inline-flex;
    align-items: center;
    &-icon{
      fill: #666666;
      margin-left: .15em;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      width: 1em;
      height: 1em;
      cursor: pointer;
    }
  }
  &-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.6);
    z-index: 2;
  }
  &-main{
    width: inherit;
    display: inline-block;
    &::before{
      content: "";
      position: absolute;
      background-color: #efefef;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
    &-header{
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
      overflow: hidden;
      z-index: 3;
      &::-webkit-scrollbar{
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
      table{
        thead{
          background-color: #f9f9f9;
        }
      }
    }


  }

  &-left{
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
    overflow: hidden;
    box-shadow: 6px 0 6px -4px rgba(0,0,0,0.15);
    &-header{
      background-color: #f9f9f9;
      z-index: 4;
    }
    &-body{
      will-change: transform;
      z-index: 4;
      background-color: white;
      &::-webkit-scrollbar{
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
    }
  }
  &-right{
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -6px 0 6px -4px rgba(0,0,0,0.15);
    will-change: transform;
    &-body{
      &::-webkit-scrollbar{
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
      z-index: 4;
      background-color: white;
    }
    &-header{
      z-index: 4;
      background-color: #f9f9f9;
    }
  }
  &-overflow-y{
    overflow-y: scroll;
  }
}
.align-left{
  td,th{
    text-align: left;
  }
}
.align-right{
  td,th{
    text-align: right;
  }
}
.boxShadowNone{
  box-shadow: none !important;
}
.stopScroll{
  pointer-events:none!important;
}
