@require './config'

.arrow
  display inline-block
  width 0
  height 0
  transition .3s all
  border-left 4px solid transparent
  border-right 4px solid transparent
  border-bottom 6px solid $arrowBgColor
  &.up
    transform rotate(0deg)
  &.down
    transform rotate(180deg)
  &.right
   transform rotate(90deg)
  &.left
   transform rotate(270deg)
