@import "color/color";


$text:$grey-7;
$text-2:#2a3a4a;
$text-3:#3a4a5a;

$line-1:$grey;
$line-2:$grey-3;
$line-3:$grey-2;

$link-1:$blue-4;
$link-2:$blue-5;
$link-3:$blue-6;

$disabled-text:$grey-3;
$disabled-bg:$grey-6;

$border-color:$grey-3;
$border-hover-color:$grey-7;
$border-radius: 4px;
$border-drop-radius:1px 1px 4px 4px;
$border-solid:1px solid $border-color;

$bg-color-1:$grey-1;

$primary-1:$blue;
$primary-2:$blue-5;
$error-1:$red;
$error-2:$red-5;
$success-1:$green;
$success-2:$green-5;
$warn-1:$orange;
$warn-2:$orange-5;
$info-1:$grey;
$info-2:$grey-5;

$shadow-color:$grey-5;
$shadow-focus-light-color:$blue;
$shadow-focus-dark-color:$blue-7;

$shadow-up: 0 -1px 5px $shadow-color;
$shadow-down: 0 1px 5px $shadow-color;
$shadow-left: -1px 0 5px $shadow-color;
$shadow-right: 1px 0 5px $shadow-color;
$shadow-hover-1: 0 0 3px 1px $blue-5;
$shadow-hover-2:0 0 3px 1px $blue;
$shadow-focus-1: 0 0 10px 1px $blue-5, 0 0 1px $blue-6;
$shadow-focus-2:0 0 3px 1px $blue, 0 0 1px $blue-6;

$button-active-bg: #ffffff;
$button-bg: $grey-1;

$input-small-height:26px;
$input-height:30px;
$input-large-height:34px;
$input-padding:0 8px;

$font-size-large:16px;
$font-size:14px;
$font-size-small:12px;

$animation-duration:.45s;


