*{
  transition: .3s all ease;
  -webkit-font-smoothing: antialiased;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0 ;
}
.x-table-wrapper{
  width: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow: hidden;
  border-left: 1px solid white;
  margin: 0;
  padding: 0;
  display: inline-block;
  &.borderHidden{
    border-bottom: none;
  }
}
.x-table{
  transition: .3s all;
  width: 100%;
  color:#515a6e;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: scroll;
  &.bordered{
    border:1px solid #efefef;
    td,th{
      border: 1px solid #efefef;
    }
  }
  &.stripe{
    tbody {
      >tr{
        &:nth-child(even){
          background-color: #FCF9F9;
        }
      }
    }
  }
  td,th{
    color:lighten(#515a6e,13.5%);
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .td-div{
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-break: break-all;
      word-wrap: normal;
      vertical-align: middle;
    }
  }
  th{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
  tr{
    &:hover{
      background-color: #FCF9F9;
    }
  }
  &-th{
    display: inline-flex;
    align-items: center;
    &-icon{
      fill: #666666;
      margin-left: .15em;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      width: 1em;
      height: 1em;
      cursor: pointer;
    }
  }
  &-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.6);
    z-index: 2;
  }
  &-main{
    width: 100%;
    display: inline-block;
    &-header{
      width: 100%;
      background-color: #f9f9f9;
      overflow: scroll;
      z-index: 3;
      &::-webkit-scrollbar{
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
      table{
        thead{
          background-color: #f9f9f9;
        }
      }
    }
    &-body{
    }
  }
  &-left{
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
    box-shadow: 6px 0 6px -4px rgba(0,0,0,0.15);
    &-header{
      background-color: #f9f9f9;
      z-index: 4;
    }
    &-body{
      will-change: transform;
      z-index: 4;
      background-color: white;
      &::-webkit-scrollbar{
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
    }
  }
  &-right{
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -6px 0 6px -4px rgba(0,0,0,0.15);
    will-change: transform;
    &-body{
      &::-webkit-scrollbar{
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
      z-index: 4;
      background-color: white;
    }
    &-header{
      z-index: 4;
      background-color: #f9f9f9;
    }
  }
}
.boxShadowNone{
  box-shadow: none !important;
}
.stopScroll{
  pointer-events:none!important;
}
.debug{
  transform: translateZ(0);
}
