.popover {
  display: inline-block;
  vertical-align: top;
  transition: .3s all ease-in-out;
  position: relative; }

.contentSlot {
  transition: .3s all ease-in-out;
  max-width: 15em;
  max-height: 15em;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto; }

.content-wrapper {
  position: absolute;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
  background: white;
  transition: .3s all ease-in-out;
  padding: .5em 1em;
  z-index: 1000;
  word-break: break-all; }
  .content-wrapper::before, .content-wrapper::after {
    content: '';
    display: block;
    border: 10px solid transparent;
    width: 0;
    height: 0;
    position: absolute; }
  .content-wrapper.position-topLeft {
    transform: translateY(-100%);
    margin-top: -10px; }
    .content-wrapper.position-topLeft::before, .content-wrapper.position-topLeft::after {
      left: 5px; }
    .content-wrapper.position-topLeft::before {
      border-top-color: #f3f3f3;
      border-bottom: none;
      top: 100%; }
    .content-wrapper.position-topLeft::after {
      border-top-color: white;
      border-bottom: none;
      top: calc(100% - 1px); }
  .content-wrapper.position-top {
    transform: translateY(-100%);
    margin-top: -10px; }
    .content-wrapper.position-top::before, .content-wrapper.position-top::after {
      left: 50%;
      transform: translateX(-54%); }
    .content-wrapper.position-top::before {
      border-top-color: #f3f3f3;
      border-bottom: none;
      top: 100%; }
    .content-wrapper.position-top::after {
      border-top-color: white;
      border-bottom: none;
      top: calc(100% - 1px); }
  .content-wrapper.position-topRight {
    transform: translateY(-100%);
    margin-top: -10px; }
    .content-wrapper.position-topRight::before, .content-wrapper.position-topRight::after {
      left: 100%;
      transform: translateX(-120%); }
    .content-wrapper.position-topRight::before {
      border-top-color: #f3f3f3;
      border-bottom: none;
      top: 100%; }
    .content-wrapper.position-topRight::after {
      border-top-color: white;
      border-bottom: none;
      top: calc(100% - 1px); }
  .content-wrapper.position-leftTop {
    transform: translateX(-100%);
    margin-left: -10px; }
    .content-wrapper.position-leftTop::before, .content-wrapper.position-leftTop::after {
      transform: translateY(0%);
      top: 2px; }
    .content-wrapper.position-leftTop::before {
      border-left-color: #f3f3f3;
      border-right: none;
      left: 100%; }
    .content-wrapper.position-leftTop::after {
      border-left-color: white;
      border-right: none;
      left: calc(100% - 1px); }
  .content-wrapper.position-left {
    transform: translateX(-100%);
    margin-left: -10px; }
    .content-wrapper.position-left::before, .content-wrapper.position-left::after {
      transform: translateY(-53%);
      top: 50%; }
    .content-wrapper.position-left::before {
      border-left-color: #f3f3f3;
      border-right: none;
      left: 100%; }
    .content-wrapper.position-left::after {
      border-left-color: white;
      border-right: none;
      left: calc(100% - 1px); }
  .content-wrapper.position-leftBottom {
    transform: translateX(-100%);
    margin-left: -10px; }
    .content-wrapper.position-leftBottom::before, .content-wrapper.position-leftBottom::after {
      transform: translateY(-100%);
      top: 99%; }
    .content-wrapper.position-leftBottom::before {
      border-left-color: #f3f3f3;
      border-right: none;
      left: 100%; }
    .content-wrapper.position-leftBottom::after {
      border-left-color: white;
      border-right: none;
      left: calc(100% - 1px); }
  .content-wrapper.position-bottomLeft {
    margin-top: 10px; }
    .content-wrapper.position-bottomLeft::before, .content-wrapper.position-bottomLeft::after {
      left: 6px; }
    .content-wrapper.position-bottomLeft::before {
      border-top: none;
      border-bottom-color: #f3f3f3;
      bottom: 100%; }
    .content-wrapper.position-bottomLeft::after {
      border-top: none;
      border-bottom-color: white;
      bottom: calc(100% - 1px); }
  .content-wrapper.position-bottom {
    margin-top: 10px; }
    .content-wrapper.position-bottom::before, .content-wrapper.position-bottom::after {
      left: 50%;
      transform: translateX(-50%); }
    .content-wrapper.position-bottom::before {
      border-top: none;
      border-bottom-color: #f3f3f3;
      bottom: 100%; }
    .content-wrapper.position-bottom::after {
      border-top: none;
      border-bottom-color: white;
      bottom: calc(100% - 1px); }
  .content-wrapper.position-bottomRight {
    margin-top: 10px; }
    .content-wrapper.position-bottomRight::before, .content-wrapper.position-bottomRight::after {
      left: 100%;
      transform: translateX(-103%); }
    .content-wrapper.position-bottomRight::before {
      border-top: none;
      border-bottom-color: #f3f3f3;
      bottom: 100%; }
    .content-wrapper.position-bottomRight::after {
      border-top: none;
      border-bottom-color: white;
      bottom: calc(100% - 1px); }
  .content-wrapper.position-rightTop {
    margin-left: 10px; }
    .content-wrapper.position-rightTop::before, .content-wrapper.position-rightTop::after {
      transform: translateY(10%);
      top: 0; }
    .content-wrapper.position-rightTop::before {
      border-right-color: #f3f3f3;
      border-left: none;
      right: 100%; }
    .content-wrapper.position-rightTop::after {
      border-right-color: white;
      border-left: none;
      right: calc(100% - 1px); }
  .content-wrapper.position-right {
    margin-left: 10px; }
    .content-wrapper.position-right::before, .content-wrapper.position-right::after {
      transform: translateY(-50%);
      top: 50%; }
    .content-wrapper.position-right::before {
      border-right-color: #f3f3f3;
      border-left: none;
      right: 100%; }
    .content-wrapper.position-right::after {
      border-right-color: white;
      border-left: none;
      right: calc(100% - 1px); }
  .content-wrapper.position-rightBottom {
    margin-left: 10px; }
    .content-wrapper.position-rightBottom::before, .content-wrapper.position-rightBottom::after {
      transform: translateY(-103%);
      top: 100%; }
    .content-wrapper.position-rightBottom::before {
      border-right-color: #f3f3f3;
      border-left: none;
      right: 100%; }
    .content-wrapper.position-rightBottom::after {
      border-right-color: white;
      border-left: none;
      right: calc(100% - 1px); }
  .content-wrapper.theme2 {
    margin: 0;
    border: 4px solid white;
    filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.6));
    background: white;
    z-index: 1000; }
    .content-wrapper.theme2::before {
      display: none; }
    .content-wrapper.theme2::after {
      display: none; }

/*# sourceMappingURL=popover.css.map */
