@import "../../../../assets/styles/color-select";
.card-group-item {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 23vw;
  height: 34vw;
  border-radius: 10px;
  transition: .35s all ease;
  cursor: pointer;

  &:first-child {
    background-color: #27AE60;

    .card-group-item-title {
      background-color: #228743;
    }
  }

  &:not(:first-child) {
    margin-left: 8vw;
  }

  &:nth-child(2) {
    background-color: #fac958;

    .card-group-item-title {
      background-color: #eebd58;
    }
  }

  &:nth-child(3) {
    background-color: #E74c3c;

    .card-group-item-title {
      background-color: #cd4138;
    }
  }

  &:hover {
    box-shadow: 3px 0 4px 2px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
  }

  &-title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
  }

  &-content {
    margin-top: 20px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-header {
      font-size: 24px;
    }

    &-main {
      padding: 0 10px;
      margin-top: 20px;
      font-size: 15px;
    }

    &-more {
      color: white;
      display: inline-flex;
      align-items: center;
      vertical-align: center;
      position: absolute;
      right: 30px;
      bottom: 30px;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 577px) {
  .card-group-item {
    &-title {
      width: 100%;
      height: 120px;
    }

    &-content {
      margin-top: 9px;
      padding: 13px;

      &-header {
        font-size: 16px;
      }
      &-main {
        padding: 0 3px;
        margin-top: 10px;
        font-size: 12px;
      }

      &-more {
        right: 30px;
        bottom: 30px;
      }
    }
  }
}
@media (min-width: 769px) {
  .card-group-item {

    &-title {
      width: 100%;
      height: 100px;
    }

    &-content {
      margin-top: 9px;
      padding: 13px;

      &-header {
        font-size: 18px;
      }
      &-main {
        padding: 0 5px;
        margin-top: 13px;
        font-size: 14px;
      }
    }
  }
}
@media (min-width: 993px) {
  .card-group-item {

    &-title {
      height: 110px;
    }

    &-content {
      margin-top: 15px;
      padding: 16px;

      &-header {
        font-size: 20px;
      }
      &-main {
        padding: 0 7px;
        margin-top: 17px;
        font-size: 15px;
      }
    }
  }
}
@media (min-width: 1201px) {
  .card-group-item {

    &-title {
      height: 120px;
    }

    &-content {
      margin-top: 20px;

      &-header {
        font-size: 24px;
      }
      &-main {
        padding: 0 10px;
        margin-top: 19px;
        font-size: 16px;
      }
    }
  }
}
.rotate, .stroke {
  width: 100px;
}
